__pycache__/
*.py[cod]
.pytest_cache/
.idea/
.vscode/

.env
.venv/
venv/

/data/
/downloads/
/pretrained_models/
/outputs/
/local_grid_search_runs/

*.pth
*.pt
*.ckpt
*.bin
*.log

build/
dist/
*.egg-info/
